**

!apps/**
!packages/**
!scripts/**
!package.json
!tsconfig*.json
!package-lock.json
!codegen*.yml
!pnpm*
!.npmrc

**/.env*
**/*~

**/node_modules
**/dist
**/build
**/tsconfig.tsbuildinfo
**/tsconfig.build.tsbuildinfo
**/coverage
**/test
